<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloTask | Login</title>
    <link rel="stylesheet" href="/styles.css">
    <!-- links for google fonts: Playwrite IT Moderna and Playwrite DE Grund -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+IT+Moderna&display=swap" rel="stylesheet">
    <script src="/src/app.js" defer></script>
</head>
<body>
    <header>
        <!-- inactive placeholder links -->
        <div class="nav">
            <ul>Home</ul>
            <ul>About</ul>
            <ul>Login</ul>
        </div>
        <h1>HelloTask</h1>
    </header>
    <div class="main-display">
        <p style="font-size:19px; color:crimson;"><b>Please do not refresh this page</b></p>
        <div class="form-container" style="padding: 20px">
            <h3 style="margin-bottom: 15px">Reset password</h3>
            <form action="/reset" method="post" id="reset-form">
                <div class="form-input">
                    <label for="password">New password:</label> <br>
                    <input type="password" id="new-password" name="newPassword"
                     placeholder="Enter your new password">
                </div>
                <div class="form-input">
                    <label for="password">Confirm password:</label> <br>
                    <input type="password" id="confirm-password" name="confirmPassword" 
                     placeholder="Enter password again">
                </div> 
                <div class="reset-form-buttons">
                    <button type="submit" class="reset-btn">Reset</button>
                    <p><a href="/">Cancel</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>